.Table {
  margin-top: 40px;
}

.Table h3 {
  margin-bottom: 20px;
}
.MuiTableRow-root > * {
  padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold;
}

.Table td,
th {
  border: none !important;
}

.Table:first-child {
  border-radius: 0.7rem;
}

.status {
  padding: 8px;
  border-radius: 9px;
}

.Details {
  color: #00b5ff !important;
}

@media screen and (max-width: 1200px) {
  .Table {
    width: 170%;
    margin-top: 2rem;
  }
}
